# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/App.css
src/App.test.js
src/index.css.map
src/index.min.css
src/index.min.css.map
src/logo.svg
src/reportWebVitals.js
src/setupTests.js
src/components/about/about.css.map
src/components/about/about.min.css
src/components/about/about.min.css.map
src/components/contact/contact.css.map
src/components/contact/contact.min.css
src/components/contact/contact.min.css.map
src/components/home/home.css.map
src/components/home/home.min.css
src/components/home/home.min.css.map
src/components/navbar/navbar.css.map
src/components/navbar/navbar.min.css
src/components/navbar/navbar.min.css.map
src/components/projects/projects.css.map
src/components/projects/projects.min.css
src/components/projects/projects.min.css.map
src/components/sidebar/sidebar.css.map
src/components/sidebar/sidebar.min.css
src/components/sidebar/sidebar.min.css.map
src/setupTests.js
src/reportWebVitals.js
src/logo.svg
